
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/fonts.css')}}">
	<title>Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/header.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/monitor.css')}}">
</head>

<body>
	<header>
		<div class="container">
			<ul class="header_list">
                    <li class="header_list_item"><a href="{{ url_for('reserve') }}">Reserve</a></li>
                    <li class="header_list_item"><a href="/send">Send</a></li>
                    <li class="header_list_item"><a href="/monitor">Monitor</a></li>
                    <li class="header_list_item"><a href="{{ url_for('profile') }}">Profile</a></li>
			</ul>
		</div>
	</header>
	<select id="dropdown-list" onchange="changeButtons()">
		<option value="case-1">Keyboard</option>
		<option value="case-2">Serial Monitor</option>
	</select>
    <div class="main-box" >
		<div class="button-pad" id="button-pad">
			<button id="button1" class="simulate-button" data-button="button1">1</button>
			<button id="button2" class="simulate-button" data-button="button2">2</button>
			<button id="button3" class="simulate-button" data-button="button3">3</button>
			<button id="button4" class="simulate-button" data-button="button4">4</button>
		</div>
		<div class="serial" id="serial" style="display: none;">
			<div class="serial-monitor" id="serial-monitor"></div>
			<button class="form-button"id="startButton">Start</button>
			<button class="form-button"id="stopButton">Stop</button>
		</div>
		<div class="wrapper">
            <h2>Monitor</h2>
            <img id="video_feed" width="640" height="480" />
            <form action="{{ url_for('flash') }}" method="post">
                <button type="submit" class="form-button">Flash</button>
            </form>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
					{% for message in messages %}
						<li class="err-message">{{ message }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
        </div>
    </div>
    <script>
		$(document).ready(function() {
			$('.simulate-button').click(function() {
			var button = $(this).data('button');
			$.ajax({
				url: '/simulate_button',
				type: 'POST',
				data: { button: button },
				success: function(response) {
				console.log('Button press simulated successfully.');
				},
				error: function(error) {
				console.error('Error simulating button press:', error);
				}
			});
			});
		});
	</script>
	<script>
        const dataContainer = document.getElementById('serial-monitor');
        const startButton = document.getElementById('startButton');
        const stopButton = document.getElementById('stopButton');
        let eventSource;

        startButton.addEventListener('click', function() {
            eventSource = new EventSource(`/stream?timestamp=${Date.now()}`);
            eventSource.onmessage = function(event) {
                const newData = event.data;
                dataContainer.innerHTML += newData + '<br>';
                dataContainer.scrollTop = dataContainer.scrollHeight;
            };
        });

        stopButton.addEventListener('click', function() {
            if (eventSource) {
                eventSource.close();
            }
        });
	</script>
	<script>
		function changeButtons() {
			var dropdown = document.getElementById("dropdown-list");
			var selectedValue = dropdown.options[dropdown.selectedIndex].value;
			var case1 = document.getElementById("button-pad");
			var case2 = document.getElementById("serial");
			if (selectedValue === "case-1") {
				case1.style.display = "block";
				case2.style.display = "none";
			} else if (selectedValue === "case-2") {
				case1.style.display = "none";
				case2.style.display = "block";
			}
		}
	</script>
	<script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
</body>
</html>

