<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fonts.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/header.css') }}">
    <style>
        * {
            color: #fff;
        }
        .reservation_button {
            color: #000; 
        }
    </style>
</head>
    <body>
        <header>
            <div class="container">
                <ul class="header_list">
                    <li class="header_list_item"><a href="{{ url_for('reserve') }}">Reserve</a></li>
                    <li class="header_list_item"><a href="/send">Send</a></li>
                    <li class="header_list_item"><a href="/monitor">Monitor</a></li>
                    <li class="header_list_item"><a href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            </div>
        </header>
        <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </p>
        <main>
        <h1>Profile</h1>
        <p>Welcome, {{ current_user.email }}</p>
        <h2>Your reservations</h2>
        {% if reservations %}
            <ul>
                {% for reservation in reservations %}
                    <li>
                        {{ reservation.date }}
                        <form action="{{ url_for('delete_reservation', reservation_id=reservation.id) }}" method="POST">
                            <input type="submit" class="reservation_button" value="Delete">
                        </form>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>You have no reservations.</p>
        {% endif %}

        </main>
    </body>
</html>

