<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/fonts.css') }} ">
	<title>Reservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/header.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/reserve.css') }}">
</head>

<body>
	<header>
		<div class="container">
			<ul class="header_list">
                    <li class="header_list_item"><a href="{{ url_for('reserve') }}">Reserve</a></li>
                    <li class="header_list_item"><a href="/send">Send</a></li>
                    <li class="header_list_item"><a href="/monitor">Monitor</a></li>
                    <li class="header_list_item"><a href="{{ url_for('profile') }}">Profile</a></li>
			</ul>
		</div>
	</header>
    <div class="wrapper">
		<h2>Reservation Form</h2>
		<form action="{{ url_for('reserve') }}" method="post" id="date-time-form">
			<div class="form-group">
				<label for="time">Date:</label>
				<input type="date" id="start" name="date" required>
				<label for="time">Time:</label>
				<input type="time" id="time" name="time" required>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul>
						{% for message in messages %}
							<li class="err-message">{{ message }}</li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
			</div>
			<button type="submit" class="form-button">Reserve</button>
		</form>
	</div>
</body>
</html>
