<html>
<head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/fonts.css') }} ">
        <title>Send</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/send.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <ul class="header_list">
                <li class="header_list_item"><a href="{{ url_for('reserve') }}">Reserve</a></li>
                <li class="header_list_item"><a href="/send">Send</a></li>
                <li class="header_list_item"><a href="/monitor">Monitor</a></li>
                <li class="header_list_item"><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
          <h2>Flashing page</h2>
          <form action="{{ url_for('send') }}" method="post" enctype="multipart/form-data">
              <input type="file" name="firmware" id="firmware">
                          <button type="submit" class="form-button">Send</button>
          </form>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul>
              {% for message in messages %}
                  <li class="err-message">{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
          {% endwith %}
        </div>
</body>
</html>
