<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/fonts.css') }}">
	<title>Log In</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/signup.css') }}">
</head>
<body>
	<div class="login-form-wrap">
		<img src="{{ url_for('static',filename='img/hse.png') }}" id="logo" alt="">
		<form method="post" action="{{ url_for('signup') }}" id="login-form">
			<p><input type="email" class="form-login" name="email" placeholder="Username" required></p>
			<ul>
				<li><input type="password" class="form-password" name="password" placeholder="Password" required></li>
				<li><input type="password" class="form-password" name="confirm_password" placeholder="Confirm password" required></li>
			</ul>
			<button type="submit" class="form-button">Login</button>
		</form>
	</div>

</body>
</html>
